:root {
    --bg_main: #38a3a5;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: black;
    --red: #a8dadc;
    --darkred: #c3112d;
    --orange: #ff8c00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

button,
input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

body {
    font: 1rem/1.3 "Roboto", sans-serif;
    background: var(--bg_main);
    color: var(--text_dark);
    padding: 50px;
    overflow-x: hidden; 
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* SECTION #1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
    text-align: center;
    color: white;
}

.fa-compass {
    padding-right: 10px;
}

.current {
    color: white;
    font-size: 1.5rem;
    transform: translate(210%, 0%);
    margin-top: 10px;
    position: absolute;
}

#box {
    max-width: 100%;
    display: flex;
    height: 390px;
    border: 3px solid grey;
    background-color: #a3b18a;
}

#locationData {
    position: absolute;
    list-style: none;
    transform: translate(55%, 30%);
}

#myLocation {
    margin-bottom: 40px;
}

.location-icon {
    transform: translate(20%, 0%);
}

#locationData figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.4rem;
    transform: translate(8%, 0%);
}

#locationData sup {
    font-size: 0.4em;
}

.location-temp {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text_dark);
    transform: translate(13%, 0%);
}

#moreInfo {
    list-style: none;
    display: inline-flex;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translate(120%, 25%);
    line-height: 1.9em;
    position: absolute;
}

.location-name {
    transform: translate(8%, 0%);
}

#mapHolder {
    transform: translate(210%, 15%);
    position: absolute;
}

#butInstall {
    background: url(/public/icons/install.svg) center center no-repeat;
}*/

/* SECTION #2
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search {
    color: var(--text_light);
}

.search form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search form input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
}

.search form input::placeholder {
    color: currentColor;
}

.search form button {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
    background: var(--red);
    transition: background 0.3s ease-in-out;
}

.search form button:hover {
    background: var(--darkred);
}

.search form .msg {
    position: absolute;
    bottom: -40px;
    left: 50;
    max-width: 450px;
    min-height: 40px;
    font-size: 1rem;
}

/* SECTION #3
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.results {
    margin: 70px 0 20px;
}

.results .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
}

.results .city:hover {
    cursor: pointer;
    opacity: 0.9;
}

.results .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: var(--text_light);
    color: var(--text_med);
}

.city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background: var(--text_light);
}

figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text_dark);
}

.city sup {
    font-size: 0.5em;
}

.city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_light);
    background: var(--orange);
}

.city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.results .deleteTab {
    display: flex;
    color: red;
    font-size: 25px;
    margin-top: -30px;
    margin-left: 220px;
}

.close1 {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: red;
}

.close1:hover,
.close1:focus {
    text-decoration: none;
    cursor: pointer;
}

/* MEDIQ QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1250px) {
    .current {
        transform: translate(20%, 0%);
    }
    #locationData {
        transform: translate(38%, 30%);
    }
    .location-icon {
        transform: translate(25%, 0%);
    }
    #moreInfo {
        transform: translate(110%, 25%);
    }
    #mapHolder {
        transform: translate(190%, 15%);
        position: absolute;
    }
}

@media screen and (max-width: 1200px) {
    .current {
        transform: translate(20%, 0%);
    }
    #locationData {
        transform: translate(38%, 30%);
    }
    .location-icon {
        transform: translate(25%, 0%);
    }
    #moreInfo {
        transform: translate(110%, 25%);
    }
    #mapHolder {
        transform: translate(230%, 30%);
        width: 300px;
    }
}

@media screen and (max-width: 1170px) {
    .current {
        transform: translate(20%, 0%);
    }
    #locationData {
        transform: translate(38%, 30%);
    }
    .location-icon {
        transform: translate(25%, 0%);
    }
    #moreInfo {
        transform: translate(90%, 25%);
    }
    #mapHolder {
        transform: translate(245%, 50%);
        width: 250px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        padding: 30px;
    }
    .results.cities {
        grid-template-columns: repeat(3, 1fr);
    }
    .current {
        transform: translate(20%, 0%);
    }
    #locationData {
        transform: translate(38%, 30%);
    }
    .location-icon {
        transform: translate(25%, 0%);
    }
    #mapHolder {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    .heading,
    .results .city-temp {
        font-size: 3rem;
    }
    .results {
        margin-top: 20px;
    }
    .search form {
        flex-direction: column;
        align-items: flex-start;
    }
    .search form input,
    .search form button {
        width: 100%;
    }
    .search form button {
        margin: 20px 0 0 0;
    }
    .search form .msg {
        position: static;
        max-width: none;
        min-height: 0;
        margin-top: 10px;
    }
    .results .cities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 690px) {
    #moreInfo {
        transform: translate(70%, 30%);
    }
    #locationData {
        transform: translate(8%, 30%);
    }
    .current {
        transform: translate(58%, 30%);
    }
}

@media screen and (max-width: 620px) {
    #moreInfo {
        display: none;
    }
    #locationData {
        transform: translate(98%, 30%);
    }
}

@media screen and (max-width: 500px) {
    body {
        padding: 15px;
    }
    .results .cities {
        grid-template-columns: repeat(1, 1fr);
    }
    #mapHolder {
        display: none;
    }
    .current {
        transform: translate(20%, 0%);
    }
    #locationData {
        transform: translate(38%, 30%);
    }
    .location-icon {
        transform: translate(25%, 0%);
    }
    #moreInfo {
      display: none;
    }
    .city{
        margin-bottom: 140px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .search form input,
    .search form button {
        transform: translate(20%, 0%);
    }
    #box {
    }
}