:root {
    --bg_main: #264653;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

button,
input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

body {
    font: 1rem/1.3 "Roboto", sans-serif;
    background: var(--bg_main);
    color: var(--text_dark);
    padding: 50px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* SECTION #1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search {
    color: var(--text_light);
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
    text-align: center;
    transform: translate(0%, 0%);
    color: white;
}

.search form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search form input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
}

.search form input::placeholder {
    color: currentColor;
}

.search form button {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
    background: var(--red);
    transition: background 0.3s ease-in-out;
}

.search form button:hover {
    background: var(--darkred);
}

.search form .msg {
    position: absolute;
    bottom: -40px;
    left: 50;
    max-width: 450px;
    min-height: 40px;
    font-size: 1rem;
}

/* SECTION #2
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.results {
    margin: 70px 0 20px;
}

.results .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
}

.results .city:hover {
    cursor: pointer;
    opacity: 0.9;
}

.results .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: var(--text_light);
    color: var(--text_med);
}

.city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background: var(--text_light);
}

figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text_dark);
}

.city sup {
    font-size: 0.5em;
}

.city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_light);
    background: var(--orange);
}

.city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.results .deleteTab {
    display: flex;
    color: red;
    font-size: 25px;
    margin-top: -30px;
    margin-left: 220px;
}

.close1 {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: red;
}

.close1:hover,
.close1:focus {
    text-decoration: none;
    cursor: pointer;
}

/* SECTION #3
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    background-color: #edf6f9;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.more-info-temp {
    margin-top: 40px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.more-info {
    font-size: larger;
    line-height: 1.7em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.information .city {
    margin-top: -35%;
    float: right;
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: var(--text_light);
    color: var(--text_med);
}

/* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    text-align: right;
    font-size: 1rem;
    color: var(--text_light);
    margin-top: 40px;
}

.page-footer span {
    color: var(--red);
}


/* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1000px) {
    body {
        padding: 30px;
    }

    .results.cities {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 770px) {

    .heading,
    .results .city-temp {
        font-size: 3rem;
    }

    .results {
        margin-top: 20px;
    }

    .search form {
        flex-direction: column;
        align-items: flex-start;
    }

    .search form input,
    .search form button {
        width: 100%;
    }

    .search form button {
        margin: 20px 0 0 0;
    }

    .search form .msg {
        position: static;
        max-width: none;
        min-height: 0;
        margin-top: 10px;
    }

    .results .cities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    body {
        padding: 15px;
    }

    .results .cities {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .information .city {
        display: none;
    }
}

@media screen and (min-width: 850px)
and (max-width: 950px) {
    .information .city {
        margin-top: -56%;
    }
}

@media screen and (min-width: 951px)
and (max-width: 1100px) {
    .information .city {
        margin-top: -47%;
    }
}

@media screen and (min-width: 1101px)
and (max-width: 1300px) {
    .information .city {
        margin-top: -45%;
    }
}
